function docker-clean() {
	zparseopts -D -E -A opts -- s

	if (( ${+opts[-s]} )); then
		# Delete all stopped containers (including data-only containers)
		docker rm $(docker ps -q -f "status=exited")
	fi

	# Delete all 'untagged/dangling' (<none>) images
	docker rmi $(docker images -q -f dangling=true)
}

function docker-killall() {
	# Kill all running containers
	docker kill $(docker ps -q)
}

