function docker-clean() {
	zparseopts -D -E -A opts -- s

	if (( ${+opts[-s]} )); then
		# Delete all stopped containers (including data-only containers)
		docker ps -aqf status=exited | xargs docker rm -v
	fi

	# Delete all 'untagged/dangling' (<none>) images
	docker images -qf dangling=true | xargs docker rmi

	# Delete all dangling volumes
	docker volume ls -qf dangling=true | xargs docker volume rm

	# Delete all unused images
	comm -23 <(docker images --format '{{.Repository}}:{{.Tag}}' | sort -u) <(docker ps -a --format '{{.Image}}' | sort -u) | xargs docker rmi
}

function docker-killall() {
	# Kill all running containers
	docker ps -q | xargs -r docker kill
}

