# Restart bluetooth when it's stuck again
function bluerestart() {
	sudo -s -- '
	kextunload -b com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport;
	kextload -b com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport;
	defaults write /Library/Preferences/com.apple.Bluetooth.plist ControllerPowerState 1;
	launchctl stop com.apple.blued
	'
}

